<a href="https://colab.research.google.com/github/Apekshaa2908/Census-Data-Standardization-and-Analysis-Pipeline/blob/main/Census_Data_Standardization_and_Analysis_Pipeline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Census Data Standardization and Analysis Pipeline**

In [63]:
# Install necessary libraries
!pip install pandas
!pip install docx2txt
!python -m pip install "pymongo[srv]"
!pip install mysql-connector-python
!pip install pymongo
!pip install flask_sqlalchemy
!pip install mysql
!pip instal streamlit

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: docx2txt in /usr/local/lib/python3.10/dist-packages (0.8)
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.10/dist-packages (4.7.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo[srv]) (2.6.1)
Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.10/dist-packages (8.4.0)
Requirement already satisfied: pymongo in /usr/local/lib/python3.10/dist-packages (4.7.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo) (2.6.1)
Requirement already satisfied: flask_sqlalchemy in /usr/local/lib/python3.10/dist-packages (3.1.1)
Requirement already satisfied: flask>=2.2.5 in /usr/local/lib/python3.10/dist-packages (from flask_sqlalchemy) (2.2.5)
Requirement already satisfied: sqlalchemy>=2.0.16 in /usr/local/lib/python3.10/dist-packages (from flask_sqlalchemy) (2.0.30)
Requirement already satisfied: Werkzeug>=2.2.2 in /usr/local/lib/python3.10/dist-packages (from flask>=2.2.5->flask_sqlalchemy) (3.0.3)
Requirement already satisfied: Jinja2>=3.0 in /usr/local/lib/python3.10/dist-packages (from flask>=2.2.5->flask_sqlalchemy) (3.1.4)
Requirement already satisfied: itsdangerous>=2.0 in /usr/local/lib/python3.10/dist-packages (from flask>=2.2.5->flask_sqlalchemy) (2.2.0)
Requirement already satisfied: click>=8.0 in /usr/local/lib/python3.10/dist-packages (from flask>=2.2.5->flask_sqlalchemy) (8.1.7)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0.16->flask_sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0.16->flask_sqlalchemy) (3.0.3)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from Jinja2>=3.0->flask>=2.2.5->flask_sqlalchemy) (2.1.5)
Requirement already satisfied: mysql in /usr/local/lib/python3.10/dist-packages (0.0.3)
Requirement already satisfied: mysqlclient in /usr/local/lib/python3.10/dist-packages (from mysql) (2.2.4)
Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pkg_resources/__init__.py", line 3108, in _dep_map
    return self.__dep_map
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pkg_resources/__init__.py", line 2901, in __getattr__
    raise AttributeError(attr)
AttributeError: _DistInfoDistribution__dep_map

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/cli/base_command.py", line 169, in exc_logging_wrapper
    status = run_func(*args)
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/cli/req_command.py", line 242, in wrapper
    return func(self, options, args)
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/commands/install.py", line 441, in run
    conflicts = self._determine_conflicts(to_install)
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/commands/install.py", line 572, in _determine_conflicts
    return check_install_conflicts(to_install)
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/operations/check.py", line 101, in check_install_conflicts
    package_set, _ = create_package_set_from_installed()
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/operations/check.py", line 42, in create_package_set_from_installed
    dependencies = list(dist.iter_dependencies())
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/metadata/pkg_resources.py", line 216, in iter_dependencies
    return self._dist.requires(extras)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pkg_resources/__init__.py", line 2821, in requires
    dm = self._dep_map
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pkg_resources/__init__.py", line 3110, in _dep_map
    self.__dep_map = self._compute_dependencies()
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pkg_resources/__init__.py", line 3120, in _compute_dependencies
    reqs.extend(parse_requirements(req))
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pkg_resources/__init__.py", line 3173, in __init__
    super(Requirement, self).__init__(requirement_string)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/packaging/requirements.py", line 102, in __init__
    req = REQUIREMENT.parseString(requirement_string)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 1131, in parse_string
    loc, tokens = self._parse(instring, 0)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 817, in _parseNoCache
    loc, tokens = self.parseImpl(instring, pre_loc, doActions)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 3887, in parseImpl
    if exprtokens or exprtokens.haskeys():
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/results.py", line 262, in haskeys
    def haskeys(self) -> bool:
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/lib/python3.10/logging/__init__.py", line 1732, in isEnabledFor
    return self._cache[level]
KeyError: 50

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/bin/pip3", line 8, in <module>
    sys.exit(main())
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/cli/main.py", line 79, in main
    return command.main(cmd_args)
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/cli/base_command.py", line 101, in main
    return self._main(args)
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/cli/base_command.py", line 223, in _main
    return run(options, args)
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/cli/base_command.py", line 206, in exc_logging_wrapper
    logger.critical("Operation cancelled by user")
  File "/usr/lib/python3.10/logging/__init__.py", line 1523, in critical
    if self.isEnabledFor(CRITICAL):
  File "/usr/lib/python3.10/logging/__init__.py", line 1740, in isEnabledFor
    level >= self.getEffectiveLevel()
  File "/usr/lib/python3.10/logging/__init__.py", line 1718, in getEffectiveLevel
    while logger:
KeyboardInterrupt
^C
ERROR: unknown command "instal" - maybe you meant "install"

In [7]:
#import necessary libraries like pandas as numpy
import pandas as pd
import numpy as np
import docx2txt
import pymongo
import pandas as pd
import mysql.connector

In [8]:
df=pd.read_csv("census_2011.csv") # Read the input file and store it in a DataFrame df

In [9]:
df.head() # Display the 1st 5 rows of the input file

,District code,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,JAMMU AND KASHMIR,Kupwara,870354.0,474190.0,396164.0,439654.0,282823.0,156831.0,1048.0,...,94.0,588.0,71.0,101.0,172.0,74.0,10.0,84.0,15.0,1119.0
1,2,JAMMU AND KASHMIR,Badgam,753745.0,NaN,355704.0,335649.0,207741.0,127908.0,NaN,...,126.0,562.0,72.0,89.0,161.0,96.0,28.0,124.0,18.0,1066.0
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487.0,78971.0,54516.0,93770.0,62834.0,30936.0,488.0,...,46.0,122.0,15.0,22.0,NaN,20.0,NaN,NaN,17.0,242.0
3,4,JAMMU AND KASHMIR,Kargil,140802.0,NaN,63017.0,NaN,56301.0,29935.0,18.0,...,27.0,114.0,12.0,18.0,30.0,19.0,3.0,22.0,7.0,214.0
4,5,JAMMU AND KASHMIR,Punch,NaN,251899.0,224936.0,261724.0,163333.0,98391.0,556.0,...,78.0,346.0,35.0,50.0,85.0,59.0,8.0,67.0,12.0,629.0

**Task 1: Rename the Column names**
For uniformity in the datasets and taking into consideration the census year, we need to rename some columns.
1. State name  to State/UT
2. District name  to District
3. Male_Literate to Literate_Male
4. Female_Literate to Literate_Female
5. Rural_Households  to Households_Rural
6. Urban_ Households  to Households_Urban
7. Age_Group_0_29 to Young_and_Adult
8. Age_Group_30_49 to Middle_Aged
9. Age_Group_50 to Senior_Citizen
10. Age not stated to Age_Not_Stated

In [10]:
df.rename(columns = {'State name':'State/UT'},inplace=True)
df.rename(columns = {'District name':'District'},inplace=True)
df.rename(columns = {'Male_Literate':'Literate_Male'},inplace=True)
df.rename(columns = {'Female_Literate':'Literate_Female'},inplace=True)
df.rename(columns = {'Rural_Households':'Households_Rural'},inplace=True)
df.rename(columns = {'Urban_Households':'Households_Urban'},inplace=True)
df.rename(columns = {'Age_Group_0_29':'Young_and_Adult'},inplace=True)
df.rename(columns = {'Age_Group_30_49':'Middle_Aged'},inplace=True)
df.rename(columns = {'Age_Group_50':'Senior_Citizen'},inplace=True)
df.rename(columns = {'Age not stated':'Age_Not_Stated'},inplace=True)

# Rename each column and commiting the changes using inplace

In [11]:
# Display all the columns that are renamed
df[['State/UT','District','Literate_Male','Literate_Female','Households_Rural','Households_Urban',
    'Young_and_Adult','Middle_Aged','Senior_Citizen','Age_Not_Stated']]

,State/UT,District,Literate_Male,Literate_Female,Households_Rural,Households_Urban,Young_and_Adult,Middle_Aged,Senior_Citizen,Age_Not_Stated
0,JAMMU AND KASHMIR,Kupwara,282823.0,156831.0,158438.0,NaN,600759.0,178435.0,89679.0,1481.0
1,JAMMU AND KASHMIR,Badgam,207741.0,127908.0,160649.0,27190.0,503223.0,160933.0,88978.0,611.0
2,JAMMU AND KASHMIR,Leh(Ladakh),62834.0,30936.0,36920.0,17474.0,70703.0,41515.0,NaN,250.0
3,JAMMU AND KASHMIR,Kargil,56301.0,29935.0,40370.0,7774.0,87532.0,35561.0,17488.0,221.0
4,JAMMU AND KASHMIR,Punch,163333.0,98391.0,132139.0,15269.0,304979.0,109818.0,61334.0,704.0
...,...,...,...,...,...,...,...,...,...,...
635,PONDICHERRY,Mahe,16610.0,19860.0,0.0,12110.0,19760.0,NaN,9428.0,85.0
636,PONDICHERRY,Karaikal,79903.0,75013.0,35618.0,33715.0,NaN,60089.0,NaN,366.0
637,ANDAMAN AND NICOBAR ISLANDS,Nicobars,15397.0,9935.0,15958.0,0.0,18786.0,12088.0,5922.0,46.0
638,ANDAMAN AND NICOBAR ISLANDS,North AND Middle Andaman,43186.0,35497.0,39091.0,1094.0,57350.0,30741.0,17464.0,42.0
639,ANDAMAN AND NICOBAR ISLANDS,South Andaman,105794.0,84472.0,34901.0,50631.0,128402.0,76332.0,33128.0,280.0

**Task 2: Rename State/UT Names**

The State/UT names are in all caps in the census data, For uniformity across datasets we use the names so that only the first character of each word in the name is in upper case and the rest are in lower case. However, if the word is “and” then it should be all lowercase.

In [12]:
# Rename all the State/UT according to the task
def format(state):
  a=state.split()
  b=[]
  for i in a:
    if i.lower()=='and':
      b.append('and')
    else:
      b.append(i.capitalize())
  return ' '.join (b)
df['State/UT'] = df['State/UT'].apply(format)

In [13]:
# Display all distinct State/UT and check if they are renamed accordingly
df.filter(items=['State/UT']).drop_duplicates()

                        State/UT
0              Jammu and Kashmir
22              Himachal Pradesh
34                        Punjab
54                    Chandigarh
55                   Uttarakhand
68                       Haryana
89                  Nct Of Delhi
98                     Rajasthan
131                Uttar Pradesh
202                        Bihar
240                       Sikkim
244            Arunachal Pradesh
260                     Nagaland
271                      Manipur
280                      Mizoram
288                      Tripura
292                    Meghalaya
299                        Assam
326                  West Bengal
345                    Jharkhand
369                       Orissa
399                 Chhattisgarh
417               Madhya Pradesh
467                      Gujarat
493                Daman and Diu
495       Dadra and Nagar Haveli
496                  Maharashtra
531               Andhra Pradesh
554                    Karnataka
584                          Goa
586                  Lakshadweep
587                       Kerala
601                   Tamil Nadu
633                  Pondicherry
637  Andaman and Nicobar Islands

**Task 3: New State/UT formation**

In 2014 Telangana was formed after it split from Andhra Pradesh, The districts that were included in Telangana are stored in Data/Telangana.txt . Read the text file and Rename the State/UT From “Andhra Pradesh” to “Telangana” for the given districts.

In [14]:
telangana_districts = docx2txt.process("Telangana.docx")

In [15]:
# Function to change the State/UT according to the District
def update(district):
  if district['State/UT'] == 'Andhra Pradesh' and district['District'] in telangana_districts:
    return 'Telangana'
  return district['State/UT']

df['State/UT'] = df.apply(update, axis=1)

In [16]:
# To check if they are changed accordingly
df1=df[df['State/UT'].str.contains('Telangana')]
df1.filter(items=['State/UT', 'District']).drop_duplicates()

      State/UT     District
531  Telangana     Adilabad
532  Telangana    Nizamabad
533  Telangana   Karimnagar
534  Telangana        Medak
535  Telangana    Hyderabad
536  Telangana   Rangareddy
537  Telangana  Mahbubnagar
538  Telangana     Nalgonda
539  Telangana     Warangal
540  Telangana      Khammam

In 2019 Ladakh was formed after it split from Jammu and Kashmir, which included the districts Leh and Kargil.  Rename the State/UT From “Jammu and Kashmir” to “Ladakh” for the given districts.

In [17]:
## List Leh and Kargil and stored in variable ladakh_districts
ladakh_districts = ['Leh(Ladakh)','Kargil']

In [18]:
# Function to change the State/UT according to the District
def updated(districts):
  if districts['State/UT'] == 'Jammu and Kashmir' and districts['District'] in ladakh_districts:
    return 'Ladakh'
  return districts['State/UT']

df['State/UT'] = df.apply(updated, axis=1)

In [19]:
# To check if they are changed accordingly
df2=df[df['State/UT'].str.contains('Ladakh')]
df2.filter(items=['State/UT', 'District']).drop_duplicates()

  State/UT     District
2   Ladakh  Leh(Ladakh)
3   Ladakh       Kargil

**Task 4: Find and process Missing Data**

Find and store the percentage of data missing for each column.

In [20]:
Population = df['Population'].isnull().sum() * 100 / len(df)
Male = df['Male'].isnull().sum() *100 / len(df)
Female = df['Female'].isnull().sum() *100 /len(df)

Literate = df['Literate'].isnull().sum() * 100 / len(df)
Literate_Male = df['Literate_Male'].isnull().sum() * 100 / len(df)
Literate_Female = df['Literate_Female'].isnull().sum() * 100 / len(df)

SC = df['SC'].isnull().sum() * 100 / len(df)
Male_SC= df['Male_SC'].isnull().sum() * 100 / len(df)
Female_SC = df['Female_SC'].isnull().sum() * 100 / len(df)

ST = df['ST'].isnull().sum() * 100 / len(df)
Male_SC= df['Male_ST'].isnull().sum() * 100 / len(df)
Female_SC = df['Female_ST'].isnull().sum() * 100 / len(df)

Workers = df['Workers'].isnull().sum() * 100 / len(df)
Male_Workers= df['Male_Workers'].isnull().sum() * 100 / len(df)
Female_Workers= df['Female_Workers'].isnull().sum() * 100 / len(df)

Main_Workers = df['Main_Workers'].isnull().sum() * 100 / len(df)
Non_Workers= df['Non_Workers'].isnull().sum() * 100 / len(df)
Cultivator_Workers= df['Cultivator_Workers'].isnull().sum() * 100 / len(df)
Agricultural_Workers = df['Agricultural_Workers'].isnull().sum() * 100 / len(df)
Household_Workers= df['Household_Workers'].isnull().sum() * 100 / len(df)
Other_Workers= df['Other_Workers'].isnull().sum() * 100 / len(df)

Hindus = df['Hindus'].isnull().sum() * 100 / len(df)
Muslims= df['Muslims'].isnull().sum() * 100 / len(df)
Christians= df['Christians'].isnull().sum() * 100 / len(df)
Sikhs = df['Sikhs'].isnull().sum() * 100 / len(df)
Buddhists= df['Buddhists'].isnull().sum() * 100 / len(df)
Jains= df['Jains'].isnull().sum() * 100 / len(df)
Others_Religions = df['Others_Religions'].isnull().sum() * 100 / len(df)
Religion_Not_Stated = df['Religion_Not_Stated'].isnull().sum() * 100 / len(df)

Total_Education = df['Total_Education'].isnull().sum() * 100 / len(df)
Literate_Education = df['Literate_Education'].isnull().sum() * 100 / len(df)
Illiterate_Education = df['Illiterate_Education'].isnull().sum() * 100 / len(df)

Households = df['Households'].isnull().sum() * 100 / len(df)
Households_Rural = df['Households_Rural'].isnull().sum() * 100 / len(df)
Households_Urban = df['Households_Urban'].isnull().sum() * 100 / len(df)

In [1]:
# Print the percentage of each column
print(f"Population: {Population:.2f}%")
print(f"Male: {Male:.2f}%")
print(f"Female: {Female:.2f}%")

print(f"Literate: {Literate:.2f}%")
print(f"Literate_Male: {Literate_Male:.2f}%")
print(f"Literate_Female: {Literate_Female:.2f}%")

print(f"SC: {SC:.2f}%")
print(f"Male_SC: {Male_SC:.2f}%")
print(f"Female_SC: {Female_SC:.2f}%")

print(f"ST: {SC:.2f}%")
print(f"Male_ST: {Male_SC:.2f}%")
print(f"Female_ST: {Female_SC:.2f}%")

print(f"Workers: {SC:.2f}%")
print(f"Male_Workers: {Male_SC:.2f}%")
print(f"Female_Workers: {Female_SC:.2f}%")

print(f"Main_Workers: {Main_Workers:.2f}%")
print(f"Non_Workers: {Non_Workers:.2f}%")
print(f"Cultivator_Workers: {Cultivator_Workers:.2f}%")
print(f"Agricultural_Workers: {Agricultural_Workers:.2f}%")
print(f"Household_Workers: {Household_Workers:.2f}%")
print(f"Other_Workers: {Other_Workers:.2f}%")

print(f"Hindus: {Hindus:.2f}%")
print(f"Muslims: {Muslims:.2f}%")
print(f"Christians: {Christians:.2f}%")
print(f"Sikhs: {Sikhs:.2f}%")
print(f"Buddhists: {Buddhists:.2f}%")
print(f"Jains: {Jains:.2f}%")
print(f"Others_Religions: {Others_Religions:.2f}%")
print(f"Religion_Not_Stated: {Religion_Not_Stated:.2f}%")

print(f"Total_Education: {Total_Education:.2f}%")
print(f"Literate_Education: {Literate_Education:.2f}%")
print(f"Illiterate_Education: {Illiterate_Education:.2f}%")

print(f"Households: {Households:.2f}%")
print(f"Households_Rural: {Population:.2f}%")
print(f"Households_Urban: {Population:.2f}%")

In [22]:
# Apply necessary formulas
df['Population'] = df['Population'].fillna(df['Male'] + df['Female'])
df['Male'] = df['Male'].fillna(df['Population'] - df['Female'])
df['Female'] = df['Female'].fillna(df['Population'] - df['Male'])
df['Population'] = df['Population'].fillna(df['Middle_Aged'] + df['Senior_Citizen']+df['Age_Not_Stated']+df['Young_and_Adult'])

df['Literate'] = df['Literate'].fillna(df['Literate_Male'] + df['Literate_Female'])
df['Literate_Male'] = df['Literate_Male'].fillna(df['Literate'] - df['Literate_Female'])
df['Literate_Female'] = df['Literate_Female'].fillna(df['Literate'] - df['Literate_Male'])

df['SC'] = df['SC'].fillna(df['Male_SC'] + df['Female_SC'])
df['Female_SC'] = df['Female_SC'].fillna(df['SC'] - df['Male_SC'])
df['Male_SC'] = df['Male_SC'].fillna(df['SC'] - df['Female_SC'])

df['ST'] = df['ST'].fillna(df['Male_ST'] + df['Female_ST'])
df['Female_ST'] = df['Female_ST'].fillna(df['ST'] - df['Male_ST'])
df['Male_ST'] = df['Male_ST'].fillna(df['ST'] - df['Female_ST'])

df['Workers'] = df['Workers'].fillna(df['Male_Workers'] + df['Female_Workers'])
df['Female_Workers'] = df['Female_Workers'].fillna(df['Workers'] - df['Male_Workers'])
df['Male_Workers'] = df['Male_Workers'].fillna(df['Workers'] - df['Female_Workers'])

df["Main_Workers"]= df['Main_Workers'].fillna(df['Population']-(df["Non_Workers"]+ df["Cultivator_Workers"]+ df["Agricultural_Workers"]+ df["Household_Workers"]+ df["Other_Workers"]))
df["Non_Workers"]= df['Non_Workers'].fillna(df['Population']-(df["Main_Workers"]+ df["Cultivator_Workers"]+ df["Agricultural_Workers"]+ df["Household_Workers"]+ df["Other_Workers"]))
df["Cultivator_Workers"]= df['Cultivator_Workers'].fillna(df['Population']-(df["Non_Workers"]+ df["Main_Workers"]+ df["Agricultural_Workers"]+ df["Household_Workers"]+ df["Other_Workers"]))
df["Agricultural_Workers"]= df['Agricultural_Workers'].fillna(df['Population']-(df["Non_Workers"]+ df["Cultivator_Workers"]+ df["Main_Workers"]+ df["Household_Workers"]+ df["Other_Workers"]))
df["Household_Workers"]= df['Household_Workers'].fillna(df['Population']-(df["Non_Workers"]+ df["Cultivator_Workers"]+ df["Agricultural_Workers"]+ df["Main_Workers"]+ df["Other_Workers"]))
df["Other_Workers"]= df['Other_Workers'].fillna(df['Population']-(df["Non_Workers"]+ df["Cultivator_Workers"]+ df["Agricultural_Workers"]+ df["Household_Workers"]+ df["Main_Workers"]))

df["Hindus"]= df["Hindus"].fillna(df["Population"]-(df["Muslims"]+ df["Christians"]+ df["Sikhs"]+ df["Buddhists"]+ df["Jains"]+ df["Others_Religions"]+ df["Religion_Not_Stated"]))
df["Muslims"]= df["Muslims"].fillna(df["Population"]-(df["Hindus"]+ df["Christians"]+ df["Sikhs"]+ df["Buddhists"]+ df["Jains"]+ df["Others_Religions"]+ df["Religion_Not_Stated"]))
df["Christians"]= df["Christians"].fillna(df["Population"]-(df["Muslims"]+ df["Hindus"]+ df["Sikhs"]+ df["Buddhists"]+ df["Jains"]+ df["Others_Religions"]+ df["Religion_Not_Stated"]))
df["Sikhs"]= df["Sikhs"].fillna(df["Population"]-(df["Muslims"]+ df["Christians"]+ df["Hindus"]+ df["Buddhists"]+ df["Jains"]+ df["Others_Religions"]+ df["Religion_Not_Stated"]))
df["Buddhists"]= df["Buddhists"].fillna(df["Population"]-(df["Muslims"]+ df["Christians"]+ df["Sikhs"]+ df["Hindus"]+ df["Jains"]+ df["Others_Religions"]+ df["Religion_Not_Stated"]))
df["Jains"]= df["Jains"].fillna(df["Population"]-(df["Muslims"]+ df["Christians"]+ df["Sikhs"]+ df["Buddhists"]+ df["Hindus"]+ df["Others_Religions"]+ df["Religion_Not_Stated"]))
df["Others_Religions"]= df["Others_Religions"].fillna(df["Population"]-(df["Muslims"]+ df["Christians"]+ df["Sikhs"]+ df["Buddhists"]+ df["Jains"]+ df["Hindus"]+ df["Religion_Not_Stated"]))
df["Religion_Not_Stated"]= df["Religion_Not_Stated"].fillna(df["Population"]-(df["Muslims"]+ df["Christians"]+ df["Sikhs"]+ df["Buddhists"]+ df["Jains"]+ df["Others_Religions"]+ df["Hindus"]))

df["Total_Education"] = df['Total_Education'].fillna(df["Literate_Education"]+df["Illiterate_Education"])
df["Literate_Education"] = df['Literate_Education'].fillna(df["Total_Education"]-df["Illiterate_Education"])
df["Illiterate_Education"] = df['Illiterate_Education'].fillna(df["Total_Education"]-df["Literate_Education"])

df['Households'] = df['Households'].fillna (df['Households_Rural']+df['Households_Urban'])
df['Households_Rural'] = df['Households_Rural'].fillna (df['Households']-df['Households_Urban'])
df['Households_Urban'] = df['Households_Urban'].fillna (df['Households']-df['Households_Rural'])

In [23]:
#Find the percentage of eah column after applying formulas
Population = df['Population'].isnull().sum() * 100 / len(df)
Male = df['Male'].isnull().sum() *100 / len(df)
Female = df['Female'].isnull().sum() *100 /len(df)

Literate = df['Literate'].isnull().sum() * 100 / len(df)
Literate_Male = df['Literate_Male'].isnull().sum() * 100 / len(df)
Literate_Female = df['Literate_Female'].isnull().sum() * 100 / len(df)

SC = df['SC'].isnull().sum() * 100 / len(df)
Male_SC= df['Male_SC'].isnull().sum() * 100 / len(df)
Female_SC = df['Female_SC'].isnull().sum() * 100 / len(df)

ST = df['ST'].isnull().sum() * 100 / len(df)
Male_SC= df['Male_ST'].isnull().sum() * 100 / len(df)
Female_SC = df['Female_ST'].isnull().sum() * 100 / len(df)

Workers = df['Workers'].isnull().sum() * 100 / len(df)
Male_Workers= df['Male_Workers'].isnull().sum() * 100 / len(df)
Female_Workers= df['Female_Workers'].isnull().sum() * 100 / len(df)

Main_Workers = df['Main_Workers'].isnull().sum() * 100 / len(df)
Non_Workers= df['Non_Workers'].isnull().sum() * 100 / len(df)
Cultivator_Workers= df['Cultivator_Workers'].isnull().sum() * 100 / len(df)
Agricultural_Workers = df['Agricultural_Workers'].isnull().sum() * 100 / len(df)
Household_Workers= df['Household_Workers'].isnull().sum() * 100 / len(df)
Other_Workers= df['Other_Workers'].isnull().sum() * 100 / len(df)

Hindus = df['Hindus'].isnull().sum() * 100 / len(df)
Muslims= df['Muslims'].isnull().sum() * 100 / len(df)
Christians= df['Christians'].isnull().sum() * 100 / len(df)
Sikhs = df['Sikhs'].isnull().sum() * 100 / len(df)
Buddhists= df['Buddhists'].isnull().sum() * 100 / len(df)
Jains= df['Jains'].isnull().sum() * 100 / len(df)
Others_Religions = df['Others_Religions'].isnull().sum() * 100 / len(df)
Religion_Not_Stated = df['Religion_Not_Stated'].isnull().sum() * 100 / len(df)

Total_Education = df['Total_Education'].isnull().sum() * 100 / len(df)
Literate_Education = df['Literate_Education'].isnull().sum() * 100 / len(df)
Illiterate_Education = df['Illiterate_Education'].isnull().sum() * 100 / len(df)

Households = df['Households'].isnull().sum() * 100 / len(df)
Households_Rural = df['Households_Rural'].isnull().sum() * 100 / len(df)
Households_Urban = df['Households_Urban'].isnull().sum() * 100 / len(df)

In [24]:
# Print the percentage of each column
print(f"Population: {Population:.2f}%")
print(f"Male: {Male:.2f}%")
print(f"Female: {Female:.2f}%")

print(f"Literate: {Literate:.2f}%")
print(f"Literate_Male: {Literate_Male:.2f}%")
print(f"Literate_Female: {Literate_Female:.2f}%")

print(f"SC: {SC:.2f}%")
print(f"Male_SC: {Male_SC:.2f}%")
print(f"Female_SC: {Female_SC:.2f}%")

print(f"ST: {SC:.2f}%")
print(f"Male_ST: {Male_SC:.2f}%")
print(f"Female_ST: {Female_SC:.2f}%")

print(f"Workers: {SC:.2f}%")
print(f"Male_Workers: {Male_SC:.2f}%")
print(f"Female_Workers: {Female_SC:.2f}%")

print(f"Main_Workers: {Main_Workers:.2f}%")
print(f"Non_Workers: {Non_Workers:.2f}%")
print(f"Cultivator_Workers: {Cultivator_Workers:.2f}%")
print(f"Agricultural_Workers: {Agricultural_Workers:.2f}%")
print(f"Household_Workers: {Household_Workers:.2f}%")
print(f"Other_Workers: {Other_Workers:.2f}%")

print(f"Hindus: {Hindus:.2f}%")
print(f"Muslims: {Muslims:.2f}%")
print(f"Christians: {Christians:.2f}%")
print(f"Sikhs: {Sikhs:.2f}%")
print(f"Buddhists: {Buddhists:.2f}%")
print(f"Jains: {Jains:.2f}%")
print(f"Others_Religions: {Others_Religions:.2f}%")
print(f"Religion_Not_Stated: {Religion_Not_Stated:.2f}%")

print(f"Total_Education: {Total_Education:.2f}%")
print(f"Literate_Education: {Literate_Education:.2f}%")
print(f"Illiterate_Education: {Illiterate_Education:.2f}%")

print(f"Households: {Households:.2f}%")
print(f"Households_Rural: {Population:.2f}%")
print(f"Households_Urban: {Population:.2f}%")

Population: 0.16%
Male: 0.16%
Female: 0.00%
Literate: 0.31%
Literate_Male: 0.31%
Literate_Female: 0.31%
SC: 0.62%
Male_SC: 0.47%
Female_SC: 0.47%
ST: 0.62%
Male_ST: 0.47%
Female_ST: 0.47%
Workers: 0.62%
Male_Workers: 0.47%
Female_Workers: 0.47%
Main_Workers: 1.09%
Non_Workers: 1.41%
Cultivator_Workers: 0.94%
Agricultural_Workers: 0.62%
Household_Workers: 1.09%
Other_Workers: 1.25%
Hindus: 0.94%
Muslims: 0.78%
Christians: 1.41%
Sikhs: 1.41%
Buddhists: 1.41%
Jains: 1.72%
Others_Religions: 2.03%
Religion_Not_Stated: 1.25%
Total_Education: 0.78%
Literate_Education: 0.31%
Illiterate_Education: 0.78%
Households: 0.78%
Households_Rural: 0.16%
Households_Urban: 0.16%

In [25]:
#Save Data to MongoDB
df_dict =df.to_dict('records')

In [26]:
# MongoDB connection
mongo_client = pymongo.MongoClient('mongodb+srv://vjapekshaa:1234@cluster0.khtcelp.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0')
mongo_db = mongo_client['Census_Data']
mongo_collection = mongo_db['Census']  # Replace with your actual collection name

In [27]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

uri = "mongodb+srv://vjapekshaa:1234@cluster0.khtcelp.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# Create a new client and connect to the server
mongo_client = MongoClient(uri, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    mongo_client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [28]:
# Create Database
mongo_db = mongo_client['Census_Data']

In [29]:
# Create collection
mongo_collection = mongo_db['Census']

In [30]:
# Insert the data in your collection
mongo_collection.insert_many(df_dict)

InsertManyResult([ObjectId('6659d3093ace7aee8e3c2e74'), ObjectId('6659d3093ace7aee8e3c2e75'), ObjectId('6659d3093ace7aee8e3c2e76'), ObjectId('6659d3093ace7aee8e3c2e77'), ObjectId('6659d3093ace7aee8e3c2e78'), ObjectId('6659d3093ace7aee8e3c2e79'), ObjectId('6659d3093ace7aee8e3c2e7a'), ObjectId('6659d3093ace7aee8e3c2e7b'), ObjectId('6659d3093ace7aee8e3c2e7c'), ObjectId('6659d3093ace7aee8e3c2e7d'), ObjectId('6659d3093ace7aee8e3c2e7e'), ObjectId('6659d3093ace7aee8e3c2e7f'), ObjectId('6659d3093ace7aee8e3c2e80'), ObjectId('6659d3093ace7aee8e3c2e81'), ObjectId('6659d3093ace7aee8e3c2e82'), ObjectId('6659d3093ace7aee8e3c2e83'), ObjectId('6659d3093ace7aee8e3c2e84'), ObjectId('6659d3093ace7aee8e3c2e85'), ObjectId('6659d3093ace7aee8e3c2e86'), ObjectId('6659d3093ace7aee8e3c2e87'), ObjectId('6659d3093ace7aee8e3c2e88'), ObjectId('6659d3093ace7aee8e3c2e89'), ObjectId('6659d3093ace7aee8e3c2e8a'), ObjectId('6659d3093ace7aee8e3c2e8b'), ObjectId('6659d3093ace7aee8e3c2e8c'), ObjectId('6659d3093ace7aee8e3c2e8d'), ObjectId('6659d3093ace7aee8e3c2e8e'), ObjectId('6659d3093ace7aee8e3c2e8f'), ObjectId('6659d3093ace7aee8e3c2e90'), ObjectId('6659d3093ace7aee8e3c2e91'), ObjectId('6659d3093ace7aee8e3c2e92'), ObjectId('6659d3093ace7aee8e3c2e93'), ObjectId('6659d3093ace7aee8e3c2e94'), ObjectId('6659d3093ace7aee8e3c2e95'), ObjectId('6659d3093ace7aee8e3c2e96'), ObjectId('6659d3093ace7aee8e3c2e97'), ObjectId('6659d3093ace7aee8e3c2e98'), ObjectId('6659d3093ace7aee8e3c2e99'), ObjectId('6659d3093ace7aee8e3c2e9a'), ObjectId('6659d3093ace7aee8e3c2e9b'), ObjectId('6659d3093ace7aee8e3c2e9c'), ObjectId('6659d3093ace7aee8e3c2e9d'), ObjectId('6659d3093ace7aee8e3c2e9e'), ObjectId('6659d3093ace7aee8e3c2e9f'), ObjectId('6659d3093ace7aee8e3c2ea0'), ObjectId('6659d3093ace7aee8e3c2ea1'), ObjectId('6659d3093ace7aee8e3c2ea2'), ObjectId('6659d3093ace7aee8e3c2ea3'), ObjectId('6659d3093ace7aee8e3c2ea4'), ObjectId('6659d3093ace7aee8e3c2ea5'), ObjectId('6659d3093ace7aee8e3c2ea6'), ObjectId('6659d3093ace7aee8e3c2ea7'), ObjectId('6659d3093ace7aee8e3c2ea8'), ObjectId('6659d3093ace7aee8e3c2ea9'), ObjectId('6659d3093ace7aee8e3c2eaa'), ObjectId('6659d3093ace7aee8e3c2eab'), ObjectId('6659d3093ace7aee8e3c2eac'), ObjectId('6659d3093ace7aee8e3c2ead'), ObjectId('6659d3093ace7aee8e3c2eae'), ObjectId('6659d3093ace7aee8e3c2eaf'), ObjectId('6659d3093ace7aee8e3c2eb0'), ObjectId('6659d3093ace7aee8e3c2eb1'), ObjectId('6659d3093ace7aee8e3c2eb2'), ObjectId('6659d3093ace7aee8e3c2eb3'), ObjectId('6659d3093ace7aee8e3c2eb4'), ObjectId('6659d3093ace7aee8e3c2eb5'), ObjectId('6659d3093ace7aee8e3c2eb6'), ObjectId('6659d3093ace7aee8e3c2eb7'), ObjectId('6659d3093ace7aee8e3c2eb8'), ObjectId('6659d3093ace7aee8e3c2eb9'), ObjectId('6659d3093ace7aee8e3c2eba'), ObjectId('6659d3093ace7aee8e3c2ebb'), ObjectId('6659d3093ace7aee8e3c2ebc'), ObjectId('6659d3093ace7aee8e3c2ebd'), ObjectId('6659d3093ace7aee8e3c2ebe'), ObjectId('6659d3093ace7aee8e3c2ebf'), ObjectId('6659d3093ace7aee8e3c2ec0'), ObjectId('6659d3093ace7aee8e3c2ec1'), ObjectId('6659d3093ace7aee8e3c2ec2'), ObjectId('6659d3093ace7aee8e3c2ec3'), ObjectId('6659d3093ace7aee8e3c2ec4'), ObjectId('6659d3093ace7aee8e3c2ec5'), ObjectId('6659d3093ace7aee8e3c2ec6'), ObjectId('6659d3093ace7aee8e3c2ec7'), ObjectId('6659d3093ace7aee8e3c2ec8'), ObjectId('6659d3093ace7aee8e3c2ec9'), ObjectId('6659d3093ace7aee8e3c2eca'), ObjectId('6659d3093ace7aee8e3c2ecb'), ObjectId('6659d3093ace7aee8e3c2ecc'), ObjectId('6659d3093ace7aee8e3c2ecd'), ObjectId('6659d3093ace7aee8e3c2ece'), ObjectId('6659d3093ace7aee8e3c2ecf'), ObjectId('6659d3093ace7aee8e3c2ed0'), ObjectId('6659d3093ace7aee8e3c2ed1'), ObjectId('6659d3093ace7aee8e3c2ed2'), ObjectId('6659d3093ace7aee8e3c2ed3'), ObjectId('6659d3093ace7aee8e3c2ed4'), ObjectId('6659d3093ace7aee8e3c2ed5'), ObjectId('6659d3093ace7aee8e3c2ed6'), ObjectId('6659d3093ace7aee8e3c2ed7'), ObjectId('6659d3093ace7aee8e3c2ed8'), ObjectId('6659d3093ace7aee8e3c2ed9'), ObjectId('6659d3093ace7aee8e3c2eda'), ObjectId('6659d3093ace7aee8e3c2edb'), ObjectId('6659d3093ace7aee8e3c2edc'), ObjectId('6659d3093ace7aee8e3c2edd'), ObjectId('6659d3093ace7aee8e3c2ede'), ObjectId('6659d3093ace7aee8e3c2edf'), ObjectId('6659d3093ace7aee8e3c2ee0'), ObjectId('6659d3093ace7aee8e3c2ee1'), ObjectId('6659d3093ace7aee8e3c2ee2'), ObjectId('6659d3093ace7aee8e3c2ee3'), ObjectId('6659d3093ace7aee8e3c2ee4'), ObjectId('6659d3093ace7aee8e3c2ee5'), ObjectId('6659d3093ace7aee8e3c2ee6'), ObjectId('6659d3093ace7aee8e3c2ee7'), ObjectId('6659d3093ace7aee8e3c2ee8'), ObjectId('6659d3093ace7aee8e3c2ee9'), ObjectId('6659d3093ace7aee8e3c2eea'), ObjectId('6659d3093ace7aee8e3c2eeb'), ObjectId('6659d3093ace7aee8e3c2eec'), ObjectId('6659d3093ace7aee8e3c2eed'), ObjectId('6659d3093ace7aee8e3c2eee'), ObjectId('6659d3093ace7aee8e3c2eef'), ObjectId('6659d3093ace7aee8e3c2ef0'), ObjectId('6659d3093ace7aee8e3c2ef1'), ObjectId('6659d3093ace7aee8e3c2ef2'), ObjectId('6659d3093ace7aee8e3c2ef3'), ObjectId('6659d3093ace7aee8e3c2ef4'), ObjectId('6659d3093ace7aee8e3c2ef5'), ObjectId('6659d3093ace7aee8e3c2ef6'), ObjectId('6659d3093ace7aee8e3c2ef7'), ObjectId('6659d3093ace7aee8e3c2ef8'), ObjectId('6659d3093ace7aee8e3c2ef9'), ObjectId('6659d3093ace7aee8e3c2efa'), ObjectId('6659d3093ace7aee8e3c2efb'), ObjectId('6659d3093ace7aee8e3c2efc'), ObjectId('6659d3093ace7aee8e3c2efd'), ObjectId('6659d3093ace7aee8e3c2efe'), ObjectId('6659d3093ace7aee8e3c2eff'), ObjectId('6659d3093ace7aee8e3c2f00'), ObjectId('6659d3093ace7aee8e3c2f01'), ObjectId('6659d3093ace7aee8e3c2f02'), ObjectId('6659d3093ace7aee8e3c2f03'), ObjectId('6659d3093ace7aee8e3c2f04'), ObjectId('6659d3093ace7aee8e3c2f05'), ObjectId('6659d3093ace7aee8e3c2f06'), ObjectId('6659d3093ace7aee8e3c2f07'), ObjectId('6659d3093ace7aee8e3c2f08'), ObjectId('6659d3093ace7aee8e3c2f09'), ObjectId('6659d3093ace7aee8e3c2f0a'), ObjectId('6659d3093ace7aee8e3c2f0b'), ObjectId('6659d3093ace7aee8e3c2f0c'), ObjectId('6659d3093ace7aee8e3c2f0d'), ObjectId('6659d3093ace7aee8e3c2f0e'), ObjectId('6659d3093ace7aee8e3c2f0f'), ObjectId('6659d3093ace7aee8e3c2f10'), ObjectId('6659d3093ace7aee8e3c2f11'), ObjectId('6659d3093ace7aee8e3c2f12'), ObjectId('6659d3093ace7aee8e3c2f13'), ObjectId('6659d3093ace7aee8e3c2f14'), ObjectId('6659d3093ace7aee8e3c2f15'), ObjectId('6659d3093ace7aee8e3c2f16'), ObjectId('6659d3093ace7aee8e3c2f17'), ObjectId('6659d3093ace7aee8e3c2f18'), ObjectId('6659d3093ace7aee8e3c2f19'), ObjectId('6659d3093ace7aee8e3c2f1a'), ObjectId('6659d3093ace7aee8e3c2f1b'), ObjectId('6659d3093ace7aee8e3c2f1c'), ObjectId('6659d3093ace7aee8e3c2f1d'), ObjectId('6659d3093ace7aee8e3c2f1e'), ObjectId('6659d3093ace7aee8e3c2f1f'), ObjectId('6659d3093ace7aee8e3c2f20'), ObjectId('6659d3093ace7aee8e3c2f21'), ObjectId('6659d3093ace7aee8e3c2f22'), ObjectId('6659d3093ace7aee8e3c2f23'), ObjectId('6659d3093ace7aee8e3c2f24'), ObjectId('6659d3093ace7aee8e3c2f25'), ObjectId('6659d3093ace7aee8e3c2f26'), ObjectId('6659d3093ace7aee8e3c2f27'), ObjectId('6659d3093ace7aee8e3c2f28'), ObjectId('6659d3093ace7aee8e3c2f29'), ObjectId('6659d3093ace7aee8e3c2f2a'), ObjectId('6659d3093ace7aee8e3c2f2b'), ObjectId('6659d3093ace7aee8e3c2f2c'), ObjectId('6659d3093ace7aee8e3c2f2d'), ObjectId('6659d3093ace7aee8e3c2f2e'), ObjectId('6659d3093ace7aee8e3c2f2f'), ObjectId('6659d3093ace7aee8e3c2f30'), ObjectId('6659d3093ace7aee8e3c2f31'), ObjectId('6659d3093ace7aee8e3c2f32'), ObjectId('6659d3093ace7aee8e3c2f33'), ObjectId('6659d3093ace7aee8e3c2f34'), ObjectId('6659d3093ace7aee8e3c2f35'), ObjectId('6659d3093ace7aee8e3c2f36'), ObjectId('6659d3093ace7aee8e3c2f37'), ObjectId('6659d3093ace7aee8e3c2f38'), ObjectId('6659d3093ace7aee8e3c2f39'), ObjectId('6659d3093ace7aee8e3c2f3a'), ObjectId('6659d3093ace7aee8e3c2f3b'), ObjectId('6659d3093ace7aee8e3c2f3c'), ObjectId('6659d3093ace7aee8e3c2f3d'), ObjectId('6659d3093ace7aee8e3c2f3e'), ObjectId('6659d3093ace7aee8e3c2f3f'), ObjectId('6659d3093ace7aee8e3c2f40'), ObjectId('6659d3093ace7aee8e3c2f41'), ObjectId('6659d3093ace7aee8e3c2f42'), ObjectId('6659d3093ace7aee8e3c2f43'), ObjectId('6659d3093ace7aee8e3c2f44'), ObjectId('6659d3093ace7aee8e3c2f45'), ObjectId('6659d3093ace7aee8e3c2f46'), ObjectId('6659d3093ace7aee8e3c2f47'), ObjectId('6659d3093ace7aee8e3c2f48'), ObjectId('6659d3093ace7aee8e3c2f49'), ObjectId('6659d3093ace7aee8e3c2f4a'), ObjectId('6659d3093ace7aee8e3c2f4b'), ObjectId('6659d3093ace7aee8e3c2f4c'), ObjectId('6659d3093ace7aee8e3c2f4d'), ObjectId('6659d3093ace7aee8e3c2f4e'), ObjectId('6659d3093ace7aee8e3c2f4f'), ObjectId('6659d3093ace7aee8e3c2f50'), ObjectId('6659d3093ace7aee8e3c2f51'), ObjectId('6659d3093ace7aee8e3c2f52'), ObjectId('6659d3093ace7aee8e3c2f53'), ObjectId('6659d3093ace7aee8e3c2f54'), ObjectId('6659d3093ace7aee8e3c2f55'), ObjectId('6659d3093ace7aee8e3c2f56'), ObjectId('6659d3093ace7aee8e3c2f57'), ObjectId('6659d3093ace7aee8e3c2f58'), ObjectId('6659d3093ace7aee8e3c2f59'), ObjectId('6659d3093ace7aee8e3c2f5a'), ObjectId('6659d3093ace7aee8e3c2f5b'), ObjectId('6659d3093ace7aee8e3c2f5c'), ObjectId('6659d3093ace7aee8e3c2f5d'), ObjectId('6659d3093ace7aee8e3c2f5e'), ObjectId('6659d3093ace7aee8e3c2f5f'), ObjectId('6659d3093ace7aee8e3c2f60'), ObjectId('6659d3093ace7aee8e3c2f61'), ObjectId('6659d3093ace7aee8e3c2f62'), ObjectId('6659d3093ace7aee8e3c2f63'), ObjectId('6659d3093ace7aee8e3c2f64'), ObjectId('6659d3093ace7aee8e3c2f65'), ObjectId('6659d3093ace7aee8e3c2f66'), ObjectId('6659d3093ace7aee8e3c2f67'), ObjectId('6659d3093ace7aee8e3c2f68'), ObjectId('6659d3093ace7aee8e3c2f69'), ObjectId('6659d3093ace7aee8e3c2f6a'), ObjectId('6659d3093ace7aee8e3c2f6b'), ObjectId('6659d3093ace7aee8e3c2f6c'), ObjectId('6659d3093ace7aee8e3c2f6d'), ObjectId('6659d3093ace7aee8e3c2f6e'), ObjectId('6659d3093ace7aee8e3c2f6f'), ObjectId('6659d3093ace7aee8e3c2f70'), ObjectId('6659d3093ace7aee8e3c2f71'), ObjectId('6659d3093ace7aee8e3c2f72'), ObjectId('6659d3093ace7aee8e3c2f73'), ObjectId('6659d3093ace7aee8e3c2f74'), ObjectId('6659d3093ace7aee8e3c2f75'), ObjectId('6659d3093ace7aee8e3c2f76'), ObjectId('6659d3093ace7aee8e3c2f77'), ObjectId('6659d3093ace7aee8e3c2f78'), ObjectId('6659d3093ace7aee8e3c2f79'), ObjectId('6659d3093ace7aee8e3c2f7a'), ObjectId('6659d3093ace7aee8e3c2f7b'), ObjectId('6659d3093ace7aee8e3c2f7c'), ObjectId('6659d3093ace7aee8e3c2f7d'), ObjectId('6659d3093ace7aee8e3c2f7e'), ObjectId('6659d3093ace7aee8e3c2f7f'), ObjectId('6659d3093ace7aee8e3c2f80'), ObjectId('6659d3093ace7aee8e3c2f81'), ObjectId('6659d3093ace7aee8e3c2f82'), ObjectId('6659d3093ace7aee8e3c2f83'), ObjectId('6659d3093ace7aee8e3c2f84'), ObjectId('6659d3093ace7aee8e3c2f85'), ObjectId('6659d3093ace7aee8e3c2f86'), ObjectId('6659d3093ace7aee8e3c2f87'), ObjectId('6659d3093ace7aee8e3c2f88'), ObjectId('6659d3093ace7aee8e3c2f89'), ObjectId('6659d3093ace7aee8e3c2f8a'), ObjectId('6659d3093ace7aee8e3c2f8b'), ObjectId('6659d3093ace7aee8e3c2f8c'), ObjectId('6659d3093ace7aee8e3c2f8d'), ObjectId('6659d3093ace7aee8e3c2f8e'), ObjectId('6659d3093ace7aee8e3c2f8f'), ObjectId('6659d3093ace7aee8e3c2f90'), ObjectId('6659d3093ace7aee8e3c2f91'), ObjectId('6659d3093ace7aee8e3c2f92'), ObjectId('6659d3093ace7aee8e3c2f93'), ObjectId('6659d3093ace7aee8e3c2f94'), ObjectId('6659d3093ace7aee8e3c2f95'), ObjectId('6659d3093ace7aee8e3c2f96'), ObjectId('6659d3093ace7aee8e3c2f97'), ObjectId('6659d3093ace7aee8e3c2f98'), ObjectId('6659d3093ace7aee8e3c2f99'), ObjectId('6659d3093ace7aee8e3c2f9a'), ObjectId('6659d3093ace7aee8e3c2f9b'), ObjectId('6659d3093ace7aee8e3c2f9c'), ObjectId('6659d3093ace7aee8e3c2f9d'), ObjectId('6659d3093ace7aee8e3c2f9e'), ObjectId('6659d3093ace7aee8e3c2f9f'), ObjectId('6659d3093ace7aee8e3c2fa0'), ObjectId('6659d3093ace7aee8e3c2fa1'), ObjectId('6659d3093ace7aee8e3c2fa2'), ObjectId('6659d3093ace7aee8e3c2fa3'), ObjectId('6659d3093ace7aee8e3c2fa4'), ObjectId('6659d3093ace7aee8e3c2fa5'), ObjectId('6659d3093ace7aee8e3c2fa6'), ObjectId('6659d3093ace7aee8e3c2fa7'), ObjectId('6659d3093ace7aee8e3c2fa8'), ObjectId('6659d3093ace7aee8e3c2fa9'), ObjectId('6659d3093ace7aee8e3c2faa'), ObjectId('6659d3093ace7aee8e3c2fab'), ObjectId('6659d3093ace7aee8e3c2fac'), ObjectId('6659d3093ace7aee8e3c2fad'), ObjectId('6659d3093ace7aee8e3c2fae'), ObjectId('6659d3093ace7aee8e3c2faf'), ObjectId('6659d3093ace7aee8e3c2fb0'), ObjectId('6659d3093ace7aee8e3c2fb1'), ObjectId('6659d3093ace7aee8e3c2fb2'), ObjectId('6659d3093ace7aee8e3c2fb3'), ObjectId('6659d3093ace7aee8e3c2fb4'), ObjectId('6659d3093ace7aee8e3c2fb5'), ObjectId('6659d3093ace7aee8e3c2fb6'), ObjectId('6659d3093ace7aee8e3c2fb7'), ObjectId('6659d3093ace7aee8e3c2fb8'), ObjectId('6659d3093ace7aee8e3c2fb9'), ObjectId('6659d3093ace7aee8e3c2fba'), ObjectId('6659d3093ace7aee8e3c2fbb'), ObjectId('6659d3093ace7aee8e3c2fbc'), ObjectId('6659d3093ace7aee8e3c2fbd'), ObjectId('6659d3093ace7aee8e3c2fbe'), ObjectId('6659d3093ace7aee8e3c2fbf'), ObjectId('6659d3093ace7aee8e3c2fc0'), ObjectId('6659d3093ace7aee8e3c2fc1'), ObjectId('6659d3093ace7aee8e3c2fc2'), ObjectId('6659d3093ace7aee8e3c2fc3'), ObjectId('6659d3093ace7aee8e3c2fc4'), ObjectId('6659d3093ace7aee8e3c2fc5'), ObjectId('6659d3093ace7aee8e3c2fc6'), ObjectId('6659d3093ace7aee8e3c2fc7'), ObjectId('6659d3093ace7aee8e3c2fc8'), ObjectId('6659d3093ace7aee8e3c2fc9'), ObjectId('6659d3093ace7aee8e3c2fca'), ObjectId('6659d3093ace7aee8e3c2fcb'), ObjectId('6659d3093ace7aee8e3c2fcc'), ObjectId('6659d3093ace7aee8e3c2fcd'), ObjectId('6659d3093ace7aee8e3c2fce'), ObjectId('6659d3093ace7aee8e3c2fcf'), ObjectId('6659d3093ace7aee8e3c2fd0'), ObjectId('6659d3093ace7aee8e3c2fd1'), ObjectId('6659d3093ace7aee8e3c2fd2'), ObjectId('6659d3093ace7aee8e3c2fd3'), ObjectId('6659d3093ace7aee8e3c2fd4'), ObjectId('6659d3093ace7aee8e3c2fd5'), ObjectId('6659d3093ace7aee8e3c2fd6'), ObjectId('6659d3093ace7aee8e3c2fd7'), ObjectId('6659d3093ace7aee8e3c2fd8'), ObjectId('6659d3093ace7aee8e3c2fd9'), ObjectId('6659d3093ace7aee8e3c2fda'), ObjectId('6659d3093ace7aee8e3c2fdb'), ObjectId('6659d3093ace7aee8e3c2fdc'), ObjectId('6659d3093ace7aee8e3c2fdd'), ObjectId('6659d3093ace7aee8e3c2fde'), ObjectId('6659d3093ace7aee8e3c2fdf'), ObjectId('6659d3093ace7aee8e3c2fe0'), ObjectId('6659d3093ace7aee8e3c2fe1'), ObjectId('6659d3093ace7aee8e3c2fe2'), ObjectId('6659d3093ace7aee8e3c2fe3'), ObjectId('6659d3093ace7aee8e3c2fe4'), ObjectId('6659d3093ace7aee8e3c2fe5'), ObjectId('6659d3093ace7aee8e3c2fe6'), ObjectId('6659d3093ace7aee8e3c2fe7'), ObjectId('6659d3093ace7aee8e3c2fe8'), ObjectId('6659d3093ace7aee8e3c2fe9'), ObjectId('6659d3093ace7aee8e3c2fea'), ObjectId('6659d3093ace7aee8e3c2feb'), ObjectId('6659d3093ace7aee8e3c2fec'), ObjectId('6659d3093ace7aee8e3c2fed'), ObjectId('6659d3093ace7aee8e3c2fee'), ObjectId('6659d3093ace7aee8e3c2fef'), ObjectId('6659d3093ace7aee8e3c2ff0'), ObjectId('6659d3093ace7aee8e3c2ff1'), ObjectId('6659d3093ace7aee8e3c2ff2'), ObjectId('6659d3093ace7aee8e3c2ff3'), ObjectId('6659d3093ace7aee8e3c2ff4'), ObjectId('6659d3093ace7aee8e3c2ff5'), ObjectId('6659d3093ace7aee8e3c2ff6'), ObjectId('6659d3093ace7aee8e3c2ff7'), ObjectId('6659d3093ace7aee8e3c2ff8'), ObjectId('6659d3093ace7aee8e3c2ff9'), ObjectId('6659d3093ace7aee8e3c2ffa'), ObjectId('6659d3093ace7aee8e3c2ffb'), ObjectId('6659d3093ace7aee8e3c2ffc'), ObjectId('6659d3093ace7aee8e3c2ffd'), ObjectId('6659d3093ace7aee8e3c2ffe'), ObjectId('6659d3093ace7aee8e3c2fff'), ObjectId('6659d3093ace7aee8e3c3000'), ObjectId('6659d3093ace7aee8e3c3001'), ObjectId('6659d3093ace7aee8e3c3002'), ObjectId('6659d3093ace7aee8e3c3003'), ObjectId('6659d3093ace7aee8e3c3004'), ObjectId('6659d3093ace7aee8e3c3005'), ObjectId('6659d3093ace7aee8e3c3006'), ObjectId('6659d3093ace7aee8e3c3007'), ObjectId('6659d3093ace7aee8e3c3008'), ObjectId('6659d3093ace7aee8e3c3009'), ObjectId('6659d3093ace7aee8e3c300a'), ObjectId('6659d3093ace7aee8e3c300b'), ObjectId('6659d3093ace7aee8e3c300c'), ObjectId('6659d3093ace7aee8e3c300d'), ObjectId('6659d3093ace7aee8e3c300e'), ObjectId('6659d3093ace7aee8e3c300f'), ObjectId('6659d3093ace7aee8e3c3010'), ObjectId('6659d3093ace7aee8e3c3011'), ObjectId('6659d3093ace7aee8e3c3012'), ObjectId('6659d3093ace7aee8e3c3013'), ObjectId('6659d3093ace7aee8e3c3014'), ObjectId('6659d3093ace7aee8e3c3015'), ObjectId('6659d3093ace7aee8e3c3016'), ObjectId('6659d3093ace7aee8e3c3017'), ObjectId('6659d3093ace7aee8e3c3018'), ObjectId('6659d3093ace7aee8e3c3019'), ObjectId('6659d3093ace7aee8e3c301a'), ObjectId('6659d3093ace7aee8e3c301b'), ObjectId('6659d3093ace7aee8e3c301c'), ObjectId('6659d3093ace7aee8e3c301d'), ObjectId('6659d3093ace7aee8e3c301e'), ObjectId('6659d3093ace7aee8e3c301f'), ObjectId('6659d3093ace7aee8e3c3020'), ObjectId('6659d3093ace7aee8e3c3021'), ObjectId('6659d3093ace7aee8e3c3022'), ObjectId('6659d3093ace7aee8e3c3023'), ObjectId('6659d3093ace7aee8e3c3024'), ObjectId('6659d3093ace7aee8e3c3025'), ObjectId('6659d3093ace7aee8e3c3026'), ObjectId('6659d3093ace7aee8e3c3027'), ObjectId('6659d3093ace7aee8e3c3028'), ObjectId('6659d3093ace7aee8e3c3029'), ObjectId('6659d3093ace7aee8e3c302a'), ObjectId('6659d3093ace7aee8e3c302b'), ObjectId('6659d3093ace7aee8e3c302c'), ObjectId('6659d3093ace7aee8e3c302d'), ObjectId('6659d3093ace7aee8e3c302e'), ObjectId('6659d3093ace7aee8e3c302f'), ObjectId('6659d3093ace7aee8e3c3030'), ObjectId('6659d3093ace7aee8e3c3031'), ObjectId('6659d3093ace7aee8e3c3032'), ObjectId('6659d3093ace7aee8e3c3033'), ObjectId('6659d3093ace7aee8e3c3034'), ObjectId('6659d3093ace7aee8e3c3035'), ObjectId('6659d3093ace7aee8e3c3036'), ObjectId('6659d3093ace7aee8e3c3037'), ObjectId('6659d3093ace7aee8e3c3038'), ObjectId('6659d3093ace7aee8e3c3039'), ObjectId('6659d3093ace7aee8e3c303a'), ObjectId('6659d3093ace7aee8e3c303b'), ObjectId('6659d3093ace7aee8e3c303c'), ObjectId('6659d3093ace7aee8e3c303d'), ObjectId('6659d3093ace7aee8e3c303e'), ObjectId('6659d3093ace7aee8e3c303f'), ObjectId('6659d3093ace7aee8e3c3040'), ObjectId('6659d3093ace7aee8e3c3041'), ObjectId('6659d3093ace7aee8e3c3042'), ObjectId('6659d3093ace7aee8e3c3043'), ObjectId('6659d3093ace7aee8e3c3044'), ObjectId('6659d3093ace7aee8e3c3045'), ObjectId('6659d3093ace7aee8e3c3046'), ObjectId('6659d3093ace7aee8e3c3047'), ObjectId('6659d3093ace7aee8e3c3048'), ObjectId('6659d3093ace7aee8e3c3049'), ObjectId('6659d3093ace7aee8e3c304a'), ObjectId('6659d3093ace7aee8e3c304b'), ObjectId('6659d3093ace7aee8e3c304c'), ObjectId('6659d3093ace7aee8e3c304d'), ObjectId('6659d3093ace7aee8e3c304e'), ObjectId('6659d3093ace7aee8e3c304f'), ObjectId('6659d3093ace7aee8e3c3050'), ObjectId('6659d3093ace7aee8e3c3051'), ObjectId('6659d3093ace7aee8e3c3052'), ObjectId('6659d3093ace7aee8e3c3053'), ObjectId('6659d3093ace7aee8e3c3054'), ObjectId('6659d3093ace7aee8e3c3055'), ObjectId('6659d3093ace7aee8e3c3056'), ObjectId('6659d3093ace7aee8e3c3057'), ObjectId('6659d3093ace7aee8e3c3058'), ObjectId('6659d3093ace7aee8e3c3059'), ObjectId('6659d3093ace7aee8e3c305a'), ObjectId('6659d3093ace7aee8e3c305b'), ObjectId('6659d3093ace7aee8e3c305c'), ObjectId('6659d3093ace7aee8e3c305d'), ObjectId('6659d3093ace7aee8e3c305e'), ObjectId('6659d3093ace7aee8e3c305f'), ObjectId('6659d3093ace7aee8e3c3060'), ObjectId('6659d3093ace7aee8e3c3061'), ObjectId('6659d3093ace7aee8e3c3062'), ObjectId('6659d3093ace7aee8e3c3063'), ObjectId('6659d3093ace7aee8e3c3064'), ObjectId('6659d3093ace7aee8e3c3065'), ObjectId('6659d3093ace7aee8e3c3066'), ObjectId('6659d3093ace7aee8e3c3067'), ObjectId('6659d3093ace7aee8e3c3068'), ObjectId('6659d3093ace7aee8e3c3069'), ObjectId('6659d3093ace7aee8e3c306a'), ObjectId('6659d3093ace7aee8e3c306b'), ObjectId('6659d3093ace7aee8e3c306c'), ObjectId('6659d3093ace7aee8e3c306d'), ObjectId('6659d3093ace7aee8e3c306e'), ObjectId('6659d3093ace7aee8e3c306f'), ObjectId('6659d3093ace7aee8e3c3070'), ObjectId('6659d3093ace7aee8e3c3071'), ObjectId('6659d3093ace7aee8e3c3072'), ObjectId('6659d3093ace7aee8e3c3073'), ObjectId('6659d3093ace7aee8e3c3074'), ObjectId('6659d3093ace7aee8e3c3075'), ObjectId('6659d3093ace7aee8e3c3076'), ObjectId('6659d3093ace7aee8e3c3077'), ObjectId('6659d3093ace7aee8e3c3078'), ObjectId('6659d3093ace7aee8e3c3079'), ObjectId('6659d3093ace7aee8e3c307a'), ObjectId('6659d3093ace7aee8e3c307b'), ObjectId('6659d3093ace7aee8e3c307c'), ObjectId('6659d3093ace7aee8e3c307d'), ObjectId('6659d3093ace7aee8e3c307e'), ObjectId('6659d3093ace7aee8e3c307f'), ObjectId('6659d3093ace7aee8e3c3080'), ObjectId('6659d3093ace7aee8e3c30

In [31]:
# Fetch data from MongoDB
mongo_data = list(mongo_collection.find())

In [32]:
# Convert MongoDB data to DataFrame
df_mongo = pd.DataFrame(mongo_data)

In [33]:
df_mongo.columns.to_list()

['_id',
 'District code',
 'State/UT',
 'District',
 'Population',
 'Male',
 'Female',
 'Literate',
 'Literate_Male',
 'Literate_Female',
 'SC',
 'Male_SC',
 'Female_SC',
 'ST',
 'Male_ST',
 'Female_ST',
 'Workers',
 'Male_Workers',
 'Female_Workers',
 'Main_Workers',
 'Marginal_Workers',
 'Non_Workers',
 'Cultivator_Workers',
 'Agricultural_Workers',
 'Household_Workers',
 'Other_Workers',
 'Hindus',
 'Muslims',
 'Christians',
 'Sikhs',
 'Buddhists',
 'Jains',
 'Others_Religions',
 'Religion_Not_Stated',
 'LPG_or_PNG_Households',
 'Housholds_with_Electric_Lighting',
 'Households_with_Internet',
 'Households_with_Computer',
 'Households_Rural',
 'Households_Urban',
 'Households',
 'Below_Primary_Education',
 'Primary_Education',
 'Middle_Education',
 'Secondary_Education',
 'Higher_Education',
 'Graduate_Education',
 'Other_Education',
 'Literate_Education',
 'Illiterate_Education',
 'Total_Education',
 'Young_and_Adult',
 'Middle_Aged',
 'Senior_Citizen',
 'Age_Not_Stated',
 'Households_with_Bicycle',
 'Households_with_Car_Jeep_Van',
 'Households_with_Radio_Transistor',
 'Households_with_Scooter_Motorcycle_Moped',
 'Households_with_Telephone_Mobile_Phone_Landline_only',
 'Households_with_Telephone_Mobile_Phone_Mobile_only',
 'Households_with_TV_Computer_Laptop_Telephone_mobile_phone_and_Scooter_Car',
 'Households_with_Television',
 'Households_with_Telephone_Mobile_Phone',
 'Households_with_Telephone_Mobile_Phone_Both',
 'Condition_of_occupied_census_houses_Dilapidated_Households',
 'Households_with_separate_kitchen_Cooking_inside_house',
 'Having_bathing_facility_Total_Households',
 'Having_latrine_facility_within_the_premises_Total_Households',
 'Ownership_Owned_Households',
 'Ownership_Rented_Households',
 'Type_of_bathing_facility_Enclosure_without_roof_Households',
 'Type_of_fuel_used_for_cooking_Any_other_Households',
 'Type_of_latrine_facility_Pit_latrine_Households',
 'Type_of_latrine_facility_Other_latrine_Households',
 'Type_of_latrine_facility_Night_soil_disposed_into_open_drain_Households',
 'Type_of_latrine_facility_Flush_pour_flush_latrine_connected_to_other_system_Households',
 'Not_having_bathing_facility_within_the_premises_Total_Households',
 'Not_having_latrine_facility_within_the_premises_Alternative_source_Open_Households',
 'Main_source_of_drinking_water_Un_covered_well_Households',
 'Main_source_of_drinking_water_Handpump_Tubewell_Borewell_Households',
 'Main_source_of_drinking_water_Spring_Households',
 'Main_source_of_drinking_water_River_Canal_Households',
 'Main_source_of_drinking_water_Other_sources_Households',
 'Main_source_of_drinking_water_Other_sources_Spring_River_Canal_Tank_Pond_Lake_Other_sources__Households',
 'Location_of_drinking_water_source_Near_the_premises_Households',
 'Location_of_drinking_water_source_Within_the_premises_Households',
 'Main_source_of_drinking_water_Tank_Pond_Lake_Households',
 'Main_source_of_drinking_water_Tapwater_Households',
 'Main_source_of_drinking_water_Tubewell_Borehole_Households',
 'Household_size_1_person_Households',
 'Household_size_2_persons_Households',
 'Household_size_1_to_2_persons',
 'Household_size_3_persons_Households',
 'Household_size_3_to_5_persons_Households',
 'Household_size_4_persons_Households',
 'Household_size_5_persons_Households',
 'Household_size_6_8_persons_Households',
 'Household_size_9_persons_and_above_Households',
 'Location_of_drinking_water_source_Away_Households',
 'Married_couples_1_Households',
 'Married_couples_2_Households',
 'Married_couples_3_Households',
 'Married_couples_3_or_more_Households',
 'Married_couples_4_Households',
 'Married_couples_5__Households',
 'Married_couples_None_Households',
 'Power_Parity_Less_than_Rs_45000',
 'Power_Parity_Rs_45000_90000',
 'Power_Parity_Rs_90000_150000',
 'Power_Parity_Rs_45000_150000',
 'Power_Parity_Rs_150000_240000',
 'Power_Parity_Rs_240000_330000',
 'Power_Parity_Rs_150000_330000',
 'Power_Parity_Rs_330000_425000',
 'Power_Parity_Rs_425000_545000',
 'Power_Parity_Rs_330000_545000',
 'Power_Parity_Above_Rs_545000',
 'Total_Power_Parity']

In [35]:
# Drop the MongoDB _id field if exists
if '_id' in df_mongo.columns:
    df_mongo = df_mongo.drop(columns=['_id'])

In [36]:
# Insert the updated data in a variable
df_mongodb = df_mongo

In [38]:
from sqlalchemy import create_engine, inspect
from sqlalchemy.types import VARCHAR, Integer
import pandas as pd

# MySQL connection parameters
mysql_host = "gateway01.ap-southeast-1.prod.aws.tidbcloud.com"
mysql_port = 4000
mysql_user = "45HzHwJUFfX4nQz.root"
mysql_password = "NBGV0JkKMrrtdC4I"
mysql_db = "Census_Data"

# MySQL connection string
connection_string = f"mysql+mysqlconnector://{mysql_user}:{mysql_password}@{mysql_host}:{mysql_port}/{mysql_db}"

# Create SQLAlchemy engine
engine = create_engine(connection_string)

# Sample DataFrame
df_mongodb = df_mongo

# Function to map DataFrame dtypes to SQL types
def sqlcol(df_mongo):
    type_df = {}
    for i, j in zip(df_mongo.columns, df_mongo.dtypes):
        if "object" in str(j):
            type_df.update({i: VARCHAR(length=50)})
        elif "int" in str(j):
            type_df.update({i: Integer()})
        elif "float" in str(j):
            type_df.update({i: Integer()})  # Change to Float() if needed
    return type_df

# Shorten column names if they exceed the maximum length allowed by MySQL
max_length = 64
shortened_columns = {col: col[:max_length] for col in df_mongodb.columns}

# Rename columns in the DataFrame
df_mongodb.rename(columns=shortened_columns, inplace=True)

# Get SQL column types
op_dtype = sqlcol(df_mongodb)

# Inspect the engine
inspector = inspect(engine)

# Check if table exists and create if not
if not inspector.has_table("census"):
    df_mongodb.to_sql("census", con=engine, if_exists='replace', index=False, dtype=op_dtype)

print("Data inserted successfully.")

Data inserted successfully.

In [40]:
# Get SQL column types
op_dtype = sqlcol(df_mongo)
print(op_dtype)

{'District code': Integer(), 'State/UT': VARCHAR(length=50), 'District': VARCHAR(length=50), 'Population': Integer(), 'Male': Integer(), 'Female': Integer(), 'Literate': Integer(), 'Literate_Male': Integer(), 'Literate_Female': Integer(), 'SC': Integer(), 'Male_SC': Integer(), 'Female_SC': Integer(), 'ST': Integer(), 'Male_ST': Integer(), 'Female_ST': Integer(), 'Workers': Integer(), 'Male_Workers': Integer(), 'Female_Workers': Integer(), 'Main_Workers': Integer(), 'Marginal_Workers': Integer(), 'Non_Workers': Integer(), 'Cultivator_Workers': Integer(), 'Agricultural_Workers': Integer(), 'Household_Workers': Integer(), 'Other_Workers': Integer(), 'Hindus': Integer(), 'Muslims': Integer(), 'Christians': Integer(), 'Sikhs': Integer(), 'Buddhists': Integer(), 'Jains': Integer(), 'Others_Religions': Integer(), 'Religion_Not_Stated': Integer(), 'LPG_or_PNG_Households': Integer(), 'Housholds_with_Electric_Lighting': Integer(), 'Households_with_Internet': Integer(), 'Households_with_Computer': Integer(), 'Households_Rural': Integer(), 'Households_Urban': Integer(), 'Households': Integer(), 'Below_Primary_Education': Integer(), 'Primary_Education': Integer(), 'Middle_Education': Integer(), 'Secondary_Education': Integer(), 'Higher_Education': Integer(), 'Graduate_Education': Integer(), 'Other_Education': Integer(), 'Literate_Education': Integer(), 'Illiterate_Education': Integer(), 'Total_Education': Integer(), 'Young_and_Adult': Integer(), 'Middle_Aged': Integer(), 'Senior_Citizen': Integer(), 'Age_Not_Stated': Integer(), 'Households_with_Bicycle': Integer(), 'Households_with_Car_Jeep_Van': Integer(), 'Households_with_Radio_Transistor': Integer(), 'Households_with_Scooter_Motorcycle_Moped': Integer(), 'Households_with_Telephone_Mobile_Phone_Landline_only': Integer(), 'Households_with_Telephone_Mobile_Phone_Mobile_only': Integer(), 'Households_with_TV_Computer_Laptop_Telephone_mobile_phone_and_Sc': Integer(), 'Households_with_Television': Integer(), 'Households_with_Telephone_Mobile_Phone': Integer(), 'Households_with_Telephone_Mobile_Phone_Both': Integer(), 'Condition_of_occupied_census_houses_Dilapidated_Households': Integer(), 'Households_with_separate_kitchen_Cooking_inside_house': Integer(), 'Having_bathing_facility_Total_Households': Integer(), 'Having_latrine_facility_within_the_premises_Total_Households': Integer(), 'Ownership_Owned_Households': Integer(), 'Ownership_Rented_Households': Integer(), 'Type_of_bathing_facility_Enclosure_without_roof_Households': Integer(), 'Type_of_fuel_used_for_cooking_Any_other_Households': Integer(), 'Type_of_latrine_facility_Pit_latrine_Households': Integer(), 'Type_of_latrine_facility_Other_latrine_Households': Integer(), 'Type_of_latrine_facility_Night_soil_disposed_into_open_drain_Hou': Integer(), 'Type_of_latrine_facility_Flush_pour_flush_latrine_connected_to_o': Integer(), 'Not_having_bathing_facility_within_the_premises_Total_Households': Integer(), 'Not_having_latrine_facility_within_the_premises_Alternative_sour': Integer(), 'Main_source_of_drinking_water_Un_covered_well_Households': Integer(), 'Main_source_of_drinking_water_Handpump_Tubewell_Borewell_Househo': Integer(), 'Main_source_of_drinking_water_Spring_Households': Integer(), 'Main_source_of_drinking_water_River_Canal_Households': Integer(), 'Main_source_of_drinking_water_Other_sources_Households': Integer(), 'Main_source_of_drinking_water_Other_sources_Spring_River_Canal_T': Integer(), 'Location_of_drinking_water_source_Near_the_premises_Households': Integer(), 'Location_of_drinking_water_source_Within_the_premises_Households': Integer(), 'Main_source_of_drinking_water_Tank_Pond_Lake_Households': Integer(), 'Main_source_of_drinking_water_Tapwater_Households': Integer(), 'Main_source_of_drinking_water_Tubewell_Borehole_Households': Integer(), 'Household_size_1_person_Households': Integer(), 'Household_size_2_persons_Households': Integer(), 'Household_size_1_to_2_persons': Integer(), 'Household_size_3_persons_Households': Integer(), 'Household_size_3_to_5_persons_Households': Integer(), 'Household_size_4_persons_Households': Integer(), 'Household_size_5_persons_Households': Integer(), 'Household_size_6_8_persons_Households': Integer(), 'Household_size_9_persons_and_above_Households': Integer(), 'Location_of_drinking_water_source_Away_Households': Integer(), 'Married_couples_1_Households': Integer(), 'Married_couples_2_Households': Integer(), 'Married_couples_3_Households': Integer(), 'Married_couples_3_or_more_Households': Integer(), 'Married_couples_4_Households': Integer(), 'Married_couples_5__Households': Integer(), 'Married_couples_None_Households': Integer(), 'Power_Parity_Less_than_Rs_45000': Integer(), 'Power_Parity_Rs_45000_90000': Integer(), 'Power_Parity_Rs_90000_150000': Integer(), 'Power_Parity_Rs_45000_150000': Integer(), 'Power_Parity_Rs_150000_240000': Integer(), 'Power_Parity_Rs_240000_330000': Integer(), 'Power_Parity_Rs_150000_330000': Integer(), 'Power_Parity_Rs_330000_425000': Integer(), 'Power_Parity_Rs_425000_545000': Integer(), 'Power_Parity_Rs_330000_545000': Integer(), 'Power_Parity_Above_Rs_545000': Integer(), 'Total_Power_Parity': Integer()}

In [202]:
# Connection to mysql
connection = mysql.connector.connect(
  user='45HzHwJUFfX4nQz.root',
  password='NBGV0JkKMrrtdC4I',
  host="gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
  port="4000")
mycursor = connection.cursor(buffered=True)

In [204]:
# Select Database
mycursor.execute("USE census_data")

In [167]:
# 1. Total population of each district
st.title('Total Popluation of Each District')
query = """SELECT District, SUM(Population) as Population FROM Census GROUP BY District ORDER BY District"""
df = fetch_data(query)

# Display the data in Streamlit
st.write("Total Population of Each District")
st.dataframe(df)

In [ ]:
# 2. Literate males and females are there in each district
st.title('Literate males and females are there in each district')
query = """SELECT District, SUM(Literate_Male) AS Literate_Male, SUM(Literate_Female) AS Literate_Female FROM Census GROUP BY District"""
df = fetch_data(query)

# Display the data in Streamlit
st.write("Literate males and females are there in each district")
st.dataframe(df)

In [161]:
# 3. Percentage of workers (both male and female) in each district
mycursor.execute('SELECT District,(Male_Workers/Workers)*100 as Male_Workers,(Female_Workers/Workers)*100 as Female_Workers FROM Census')
st.title('Percentage of workers (both male and female) in each district')
query = """SELECT District, SUM(Population) as Population FROM Census GROUP BY District ORDER BY District"""
df = fetch_data(query)

# Display the data in Streamlit
st.write("Percentage of workers (both male and female) in each district")
st.dataframe(df)

In [ ]:
# 4. Fetch the data for households with access to LPG or PNG as cooking fuel in each district
st.title('Households with access to LPG or PNG as cooking fuel in each district')
query = """SELECT District, LPG_or_PNG_Households FROM Census"""
df = fetch_data(query)

# Display the data in Streamlit
st.write("Households with access to LPG or PNG as cooking fuel in each district")
st.dataframe(df)

In [ ]:
# 5. Fetch the religious composition of each district
st.title('Religious composition of each district')
query = """SELECT District, Hindus, Muslims, Christians, Sikhs, Buddhists, Jains, Others_Religions, Religion_Not_Stated FROM Census"""
df = fetch_data(query)

# Display the data in Streamlit
st.write("Religious composition of each district")
st.dataframe(df)

In [167]:
# 6. Fetch the households with internet access in each district
st.title('Households with internet access in each district')
query = """SELECT District, Households_with_Internet FROM Census"""
df = fetch_data(query)

# Display the data in Streamlit
st.write("Households with internet access in each district")
st.dataframe(df)

In [167]:
# 7.The educational attainment distribution (below primary, primary, middle, secondary, etc.) in each district
st.title('Educational attainment distribution')
query = """SELECT District,Below_Primary_Education,Primary_Education,Middle_Education,Secondary_Education,Higher_Education,Graduate_Education,Other_Education FROM Census"""
df = fetch_data(query)

# Display the data in Streamlit
st.write("Educational attainment distribution")
st.dataframe(df)

In [167]:
# 8.Households have access to various modes of transportation (bicycle, car, radio, television, etc.) in each district
st.title('Households have access to various modes of transportation')
query = """SELECT District, Households_with_Bicycle, Households_with_Car_Jeep_Van, Households_with_Scooter_Motorcycle_Moped FROM Census"""
df = fetch_data(query)

# Display the data in Streamlit
st.write("Households have access to various modes of transportation")
st.dataframe(df)

In [167]:
# 9. The condition of occupied census houses (dilapidated, with separate kitchen, with bathing facility, with latrine facility, etc.) in each district
st.title('The condition of occupied census houses')
query = """SELECT District, Condition_of_occupied_census_houses_Dilapidated_Households as Dilapidated, Households_with_separate_kitchen_Cooking_inside_house as Seperate_Kitchen, Having_bathing_facility_Total_Households as Bathing_Facility, Having_latrine_facility_within_the_premises_Total_Households as Laterine_within_premisis, Not_having_latrine_facility_within_the_premises_Alternative_sour as Laterine_outside_premisis_Alternate_sources FROM Census"""
df = fetch_data(query)

# Display the data in Streamlit
st.write("The condition of occupied census houses")
st.dataframe(df)

In [167]:
# 10. The household size distributed (1 person, 2 persons, 3-5 persons, etc.) in each district
st.title('The household size distributed')
query = """SELECT District, Household_size_1_person_Households as 1_Person, Household_size_2_persons_Households as 2_Persons,  Household_size_3_persons_Households as 3_Persons, Household_size_4_persons_Households as 4_Persons, Household_size_5_persons_Households as 5_Persons, Household_size_6_8_persons_Households as 6to8_Persons, Household_size_9_persons_and_above_Households as 9_and_more_Persons FROM Census"""
df = fetch_data(query)

# Display the data in Streamlit
st.write("The household size distributed")
st.dataframe(df)

In [167]:
# 11. The total number of households in each state
st.title('The total number of households in each state')
query = """SELECT `State/UT`, SUM(Households)as Total_Households FROM Census GROUP BY `State/UT`"""
df = fetch_data(query)

# Display the data in Streamlit
st.write("The total number of households in each state")
st.dataframe(df)

In [167]:
# 12. Household having laterine facility within permises in each state
st.title('Household having laterine facility within permises in each state')
query = """SELECT `State/UT`, SUM(Having_latrine_facility_within_the_premises_Total_Households) as On_Premisis_Laterine FROM Census GROUP BY `State/UT`"""
df = fetch_data(query)

# Display the data in Streamlit
st.write("Household having laterine facility within permises in each state")
st.dataframe(df)

In [167]:
# 13. The average household size in each state
st.title('The average household size in each state')
query = """SELECT `State/UT`, AVG(Household_size_1_person_Households) as "1-Person", AVG(Household_size_2_persons_Households) as "2-Persons", AVG(Household_size_3_persons_Households) as "3-Persons", AVG(Household_size_4_persons_Households) as "4-Persons", Avg(Household_size_5_persons_Households) as "5-Persons", AVG(Household_size_6_8_persons_Households) as "6to8-Persons", AVG(Household_size_9_persons_and_above_Households) as "9 and more Persons" FROM Census GROUP BY `State/UT`"""
df = fetch_data(query)

# Display the data in Streamlit
st.write("The average household size in each state")
st.dataframe(df)

In [167]:
# 14. Households are owned versus rented in each state
st.title('Households are owned versus rented in each state')
query = """SELECT `State/UT`, SUM(Ownership_Owned_Households) as "Owned",SUM(Ownership_Rented_Households) as "Rented" FROM Census GROUP BY `State/UT`"""
df = fetch_data(query)

# Display the data in Streamlit
st.write("Households are owned versus rented in each state")
st.dataframe(df)

In [167]:
# 15. The distribution of different types of latrine facilities (pit latrine, flush latrine, etc.) in each state
st.title('The distribution of different types of latrine facilities')
query = """SELECT `State/UT`, SUM(Type_of_latrine_facility_Pit_latrine_Households) as "Pit Laterine",SUM(type_of_latrine_facility_Other_latrine_Households) as "Other Laterine",SUM(Type_of_latrine_facility_Night_soil_disposed_into_open_drain_Hou) as "Night Soil",SUM(Type_of_latrine_facility_Flush_pour_flush_latrine_connected_to_o) as "Flush" FROM Census GROUP BY `State/UT`"""
df = fetch_data(query)

# Display the data in Streamlit
st.write("The distribution of different types of latrine facilities")
st.dataframe(df)

In [167]:
# 16. Households have access to drinking water sources near the premises in each state
st.title('Households have access to drinking water sources near the premises in each state')
query = """SSELECT `State/UT`, SUM(Location_of_drinking_water_source_Within_the_premises_Households) as "Households" FROM Census GROUP BY `State/UT`"""
df = fetch_data(query)

# Display the data in Streamlit
st.write("Households have access to drinking water sources near the premises in each state")
st.dataframe(df)

In [167]:
# 17. The average household income distribution in each state based on the power parity categories
st.title('The average household income distribution in each state based on the power parity categories')
query = """SELECT `State/UT`, AVG(Power_Parity_Less_than_Rs_45000) as "income < 45000", AVG(Power_Parity_Rs_45000_150000) as "income between 45000 to 150000", AVG(Power_Parity_Rs_150000_330000) as "income between 150000 to 330000", AVG(Power_Parity_Rs_330000_545000) as "income between 330000 to 545000", AVG(Power_Parity_Above_Rs_545000) as "income > 545000" FROM Census GROUP BY`State/UT`"""
df = fetch_data(query)

# Display the data in Streamlit
st.write("The average household income distribution in each state based on the power parity categories")
st.dataframe(df)

In [167]:
# 18. The percentage of married couples with different household sizes in each state
st.title('The percentage of married couples with different household sizes in each state')
query = """SELECT `State/UT`, (SUM(Married_couples_1_Households)/SUM(Married_couples_None_Households +Married_couples_1_Households+Married_couples_2_Households+Married_couples_3_or_more_Households))*100 as "1"  ,(SUM(Married_couples_2_Households)/SUM(Married_couples_None_Households +Married_couples_1_Households+Married_couples_2_Households+Married_couples_3_or_more_Households))*100 as"2" ,(SUM(Married_couples_3_or_more_Households)/SUM(Married_couples_None_Households+Married_couples_1_Households+Married_couples_2_Households+Married_couples_3_or_more_Households))*100 as "3" FROM Census GROUP BY `State/UT`"""
df = fetch_data(query)

# Display the data in Streamlit
st.write("The percentage of married couples with different household sizes in each state")
st.dataframe(df)

In [167]:
# 19. Households fall below the poverty line in each state based on the power parity categories
st.title('Households fall below the poverty line in each state based on the power parity categories')
query = """SELECT `State/UT`,SUM(Power_Parity_Less_than_Rs_45000) as "Households"  FROM Census GROUP BY `State/UT`"""
df = fetch_data(query)

# Display the data in Streamlit
st.write("Households fall below the poverty line in each state based on the power parity categories")
st.dataframe(df)

In [167]:
# 20. The overall literacy rate (percentage of literate population) in each state
mycursor.execute('')
# 1. Total population of each district
st.title('The overall literacy rate in each state')
query = """SELECT `State/UT`, (SUM(Literate_Education)/SUM(Total_Education))*100 as Literacy_Rate FROM Census GROUP BY `State/UT`"""
df = fetch_data(query)

# Display the data in Streamlit
st.write("The overall literacy rate in each state")
st.dataframe(df)

In [ ]:
! wget -q -O - ipv4.icanhazip.com
! streamlit run Census.py & npx localtunnel --port 8501

In [ ]:
# Sample Execution
%%writefile Census.py
import streamlit as st
import mysql.connector
import pandas as pd

# Function to establish a connection to the database
def get_connection():
    return mysql.connector.connect(
        user='45HzHwJUFfX4nQz.root',
        password='NBGV0JkKMrrtdC4I',
        host="gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
        port="4000"
    )

# Function to fetch data from the database
def fetch_data(query):
    connection = get_connection()
    mycursor = connection.cursor(buffered=True)
    mycursor.execute("USE census_data")
    mycursor.execute(query)
    rows = mycursor.fetchall()
    column_names = [i[0] for i in mycursor.description]
    mycursor.close()
    connection.close()
    return pd.DataFrame(rows, columns=column_names)

# 11. The total number of households in each state
st.title('The total number of households in each state')
query = """SELECT `State/UT`, SUM(Households)as Total_Households FROM Census GROUP BY `State/UT`"""
df = fetch_data(query)

# Display the data in Streamlit
st.write("The total number of households in each state")
st.dataframe(df)

In [ ]:
! wget -q -O - ipv4.icanhazip.com
! streamlit run Census.py & npx localtunnel --port 8501