<a href="https://colab.research.google.com/github/Apekshaa2908/Census-Data-Standardization-and-Analysis-Pipeline/blob/main/Census_Data_Standardization_and_Analysis_Pipeline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Census Data Standardization and Analysis Pipeline**

In [82]:
#import necessary libraries like pandas as numpy
import pandas as pd
import numpy as np

In [109]:
df=pd.read_csv("census_2011.csv") # Read the input file and store it in a DataFrame df

In [84]:
df.head() # Display the 1st 5 rows of the input file

,District code,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,JAMMU AND KASHMIR,Kupwara,870354.0,474190.0,396164.0,439654.0,282823.0,156831.0,1048.0,...,94.0,588.0,71.0,101.0,172.0,74.0,10.0,84.0,15.0,1119.0
1,2,JAMMU AND KASHMIR,Badgam,753745.0,NaN,355704.0,335649.0,207741.0,127908.0,NaN,...,126.0,562.0,72.0,89.0,161.0,96.0,28.0,124.0,18.0,1066.0
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487.0,78971.0,54516.0,93770.0,62834.0,30936.0,488.0,...,46.0,122.0,15.0,22.0,NaN,20.0,NaN,NaN,17.0,242.0
3,4,JAMMU AND KASHMIR,Kargil,140802.0,NaN,63017.0,NaN,56301.0,29935.0,18.0,...,27.0,114.0,12.0,18.0,30.0,19.0,3.0,22.0,7.0,214.0
4,5,JAMMU AND KASHMIR,Punch,NaN,251899.0,224936.0,261724.0,163333.0,98391.0,556.0,...,78.0,346.0,35.0,50.0,85.0,59.0,8.0,67.0,12.0,629.0

**Task 1: Rename the Column names**
For uniformity in the datasets and taking into consideration the census year, we need to rename some columns.
1. State name  to State/UT
2. District name  to District
3. Male_Literate to Literate_Male
4. Female_Literate to Literate_Female
5. Rural_Households  to Households_Rural
6. Urban_ Households  to Households_Urban
7. Age_Group_0_29 to Young_and_Adult
8. Age_Group_30_49 to Middle_Aged
9. Age_Group_50 to Senior_Citizen
10. Age not stated to Age_Not_Stated

In [110]:
df.rename(columns = {'State name':'State/UT'},inplace=True)
df.rename(columns = {'District name':'District'},inplace=True)
df.rename(columns = {'Male_Literate':'Literate_Male'},inplace=True)
df.rename(columns = {'Female_Literate':'Literate_Female'},inplace=True)
df.rename(columns = {'Rural_Households':'Households_Rural'},inplace=True)
df.rename(columns = {'Urban_Households':'Households_Urban'},inplace=True)
df.rename(columns = {'Age_Group_0_29':'Young_and_Adult'},inplace=True)
df.rename(columns = {'Age_Group_30_49':'Middle_Aged'},inplace=True)
df.rename(columns = {'Age_Group_50':'Senior_Citizen'},inplace=True)
df.rename(columns = {'Age not stated':'Age_Not_Stated'},inplace=True)

# Rename each column and commiting the changes using inplace

In [105]:
# Display all the columns that are renamed
df[['State/UT','District','Literate_Male','Literate_Female','Households_Rural','Households_Urban',
    'Young_and_Adult','Middle_Aged','Senior_Citizen','Age_Not_Stated']]

,State/UT,District,Literate_Male,Literate_Female,Households_Rural,Households_Urban,Young_and_Adult,Middle_Aged,Senior_Citizen,Age_Not_Stated
0,Jammu and Kashmir,Kupwara,282823.0,156831.0,158438.0,NaN,600759.0,178435.0,89679.0,1481.0
1,Jammu and Kashmir,Badgam,207741.0,127908.0,160649.0,27190.0,503223.0,160933.0,88978.0,611.0
2,Ladakh,Leh(Ladakh),62834.0,30936.0,36920.0,17474.0,70703.0,41515.0,NaN,250.0
3,Ladakh,Kargil,56301.0,29935.0,40370.0,7774.0,87532.0,35561.0,17488.0,221.0
4,Jammu and Kashmir,Punch,163333.0,98391.0,132139.0,15269.0,304979.0,109818.0,61334.0,704.0
...,...,...,...,...,...,...,...,...,...,...
635,Pondicherry,Mahe,16610.0,19860.0,0.0,12110.0,19760.0,NaN,9428.0,85.0
636,Pondicherry,Karaikal,79903.0,75013.0,35618.0,33715.0,NaN,60089.0,NaN,366.0
637,Andaman and Nicobar Islands,Nicobars,15397.0,9935.0,15958.0,0.0,18786.0,12088.0,5922.0,46.0
638,Andaman and Nicobar Islands,North AND Middle Andaman,43186.0,35497.0,39091.0,1094.0,57350.0,30741.0,17464.0,42.0
639,Andaman and Nicobar Islands,South Andaman,105794.0,84472.0,34901.0,50631.0,128402.0,76332.0,33128.0,280.0

**Task 2: Rename State/UT Names**

The State/UT names are in all caps in the census data, For uniformity across datasets we use the names so that only the first character of each word in the name is in upper case and the rest are in lower case. However, if the word is “and” then it should be all lowercase.

In [111]:
# Rename all the State/UT according to the task
def format(state):
  a=state.split()
  b=[]
  for i in a:
    if i.lower()=='and':
      b.append('and')
    else:
      b.append(i.capitalize())
  return ' '.join (b)
df['State/UT'] = df['State/UT'].apply(format)

In [108]:
# Display all distinct State/UT and check if they are renamed accordingly
df.filter(items=['State/UT']).drop_duplicates()

                        State/UT
0              Jammu and Kashmir
2                         Ladakh
22              Himachal Pradesh
34                        Punjab
54                    Chandigarh
55                   Uttarakhand
68                       Haryana
89                  Nct Of Delhi
98                     Rajasthan
131                Uttar Pradesh
202                        Bihar
240                       Sikkim
244            Arunachal Pradesh
260                     Nagaland
271                      Manipur
280                      Mizoram
288                      Tripura
292                    Meghalaya
299                        Assam
326                  West Bengal
345                    Jharkhand
369                       Orissa
399                 Chhattisgarh
417               Madhya Pradesh
467                      Gujarat
493                Daman and Diu
495       Dadra and Nagar Haveli
496                  Maharashtra
531                    Telangana
541               Andhra Pradesh
554                    Karnataka
584                          Goa
586                  Lakshadweep
587                       Kerala
601                   Tamil Nadu
633                  Pondicherry
637  Andaman and Nicobar Islands

**Task 3: New State/UT formation**

In 2014 Telangana was formed after it split from Andhra Pradesh, The districts that were included in Telangana are stored in Data/Telangana.txt . Read the text file and Rename the State/UT From “Andhra Pradesh” to “Telangana” for the given districts.

In [112]:
## List all District in the txt file and stored in variable telangana_districts
telangana_districts = ['Adilabad', 'Nizamabad', 'Karimnagar', 'Medak', 'Hyderabad',
                       'Rangareddy', 'Mahbubnagar', 'Nalgonda', 'Warangal', 'Khammam']

In [113]:
# Function to change the State/UT according to the District
def update(district):
  if district['State/UT'] == 'Andhra Pradesh' and district['District'] in telangana_districts:
    return 'Telangana'
  return district['State/UT']

df['State/UT'] = df.apply(update, axis=1)

In [90]:
# To check if they are changed accordingly
df1=df[df['State/UT'].str.contains('Telangana')]
df1.filter(items=['State/UT', 'District']).drop_duplicates()

      State/UT     District
531  Telangana     Adilabad
532  Telangana    Nizamabad
533  Telangana   Karimnagar
534  Telangana        Medak
535  Telangana    Hyderabad
536  Telangana   Rangareddy
537  Telangana  Mahbubnagar
538  Telangana     Nalgonda
539  Telangana     Warangal
540  Telangana      Khammam

In 2019 Ladakh was formed after it split from Jammu and Kashmir, which included the districts Leh and Kargil.  Rename the State/UT From “Jammu and Kashmir” to “Ladakh” for the given districts.

In [114]:
## List Leh and Kargil and stored in variable ladakh_districts
ladakh_districts = ['Leh(Ladakh)','Kargil']

In [115]:
# Function to change the State/UT according to the District
def updated(districts):
  if districts['State/UT'] == 'Jammu and Kashmir' and districts['District'] in ladakh_districts:
    return 'Ladakh'
  return districts['State/UT']

df['State/UT'] = df.apply(updated, axis=1)

In [43]:
# To check if they are changed accordingly
df2=df[df['State/UT'].str.contains('Ladakh')]
df2.filter(items=['State/UT', 'District']).drop_duplicates()

      State/UT     District
531  Telangana     Adilabad
532  Telangana    Nizamabad
533  Telangana   Karimnagar
534  Telangana        Medak
535  Telangana    Hyderabad
536  Telangana   Rangareddy
537  Telangana  Mahbubnagar
538  Telangana     Nalgonda
539  Telangana     Warangal
540  Telangana      Khammam

**Task 4: Find and process Missing Data**

Find and store the percentage of data missing for each column.

In [116]:
Population = df['Population'].isnull().sum() * 100 / len(df)
Literate = df['Literate'].isnull().sum() * 100 / len(df)
Households = df['Households'].isnull().sum() * 100 / len(df)
Male = df['Male'].isnull().sum() *100 / len(df)
Female = df['Female'].isnull().sum() *100 /len(df)

In [118]:
print(Population)
print(Male)
print(Female)
print(Literate)
print(Households)

4.6875
5.625
5.0

In [119]:
df['Population'] = df['Population'].fillna(df['Male'] + df['Female'])
df['Male'] = df['Male'].fillna(df['Population'] - df['Female'])
df['Female'] = df['Female'].fillna(df['Population'] - df['Male'])

df['Literate'] = df['Literate'].fillna(df['Literate_Male'] + df['Literate_Female'])
df['Literate_Male'] = df['Literate_Male'].fillna(df['Literate'] - df['Literate_Female'])
df['Literate_Female'] = df['Literate_Female'].fillna(df['Literate'] - df['Literate_Male'])

df['Population'] = df['Young_and_Adult'].fillna(df['Middle_Aged'] + df['Senior_Citizen']+df['Age_Not_Stated'])
df['Households'] = df['Households'].fillna (df['Households_Rural']+df['Households_Urban'] + df['Senior_Citizen']+df['Age_Not_Stated'])

In [120]:
Population = df['Population'].isnull().sum() * 100 / len(df)
Literate = df['Literate'].isnull().sum() * 100 / len(df)
Households = df['Households'].isnull().sum() * 100 / len(df)

In [121]:
print(Population)
print(Literate)
print(Households)

0.625
0.3125
0.78125

5